<!DOCTYPE html>
<html>

  <style>
    #map {
    height: 500px;
    }
</style>

  <h1>Portal</h1>

  <p>Hello, ~A</p>

  <div id="map"></div>


  <h2>Location</h2>
  <ul>
    <li>
      <a href="/locations">locations</a>
    </li>
    <li>
      <a href="/locations/new">add location</a>
    </li>
  </ul>

  <h2>User</h2>
  <ul>
    <li>
      <a href="/users">users</a>
    </li>
    <li>
      <a href="/users/new">add user</a>
    </li>
  </ul>

  <div>
    <a href="/logout">Logout</a>
  </div>


  <script type="text/javascript">~A</script>
  <script src="http://maps.googleapis.com/maps/api/js?key=~A&callback=initializeMap"></script>
</html>
